@import '../node_modules/foundation-sites/scss/_global';
@import '../node_modules/foundation-sites/scss/foundation';
@import './assets/font/_foundation-icons.css';

.App {
  text-align: center;
  background: linear-gradient(#F1C905 50%, #E7E7E5 50%);
  height: 100vh;
  padding: 50px;
  color: #494D4C;
  &__row {
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    height: 75%;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
  &__column {

    padding: 20px;
    &:first-child {
      padding: 0;
      background: #224D73;
    }
  }
  &__menu_icon {
    opacity: .7;
    & .fi-align-justify:before, & .fi-home:before, & .fi-trophy:before, & .fi-trash:before {
      color: white;
    }
  }
  &__input-button {
    box-sizing: border-box;
    height: 40px;
  }
  &__taskList{
    overflow: scroll;
    height: 52vh;
  }
  &__tasksItem {
    border: 1px solid #494D4C;
    border-bottom: none;
    width: 100%;
    padding: 10px;
    &:last-child {
      border-bottom: 1px solid #494D4C;
    }
  }
  &__menu {
    padding-top: 15px;
    justify-content: flex-start;
    align-items: center;
  }
  &__tasksItemTxt{
    text-decoration: none;
    &.done{
      text-decoration: line-through;
    }
  }
}