@import '../node_modules/foundation-sites/scss/_global';
@import '../node_modules/foundation-sites/scss/foundation';

//// @include foundation-grid;
//@include foundation-flex-classes;
//@include foundation-flex-grid;


//$button-palette: map-merge($foundation-palette, (
//        greeny: #88A81F,
//        darkwave: #224D73
//)) !default;
//
//$button-palette: map-merge($foundation-palette, (
//        purple: #bb00ff
//)) !default;
//
//$darkwave: #224D73 !default;
//$greeny: #88A81F !default;

*, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

[type='checkbox'] + label, [type='radio'] + label {
  vertical-align: middle;
}
